In [67]:
import pandas as pd
import numpy
import talib
import matplotlib.pyplot as plt

In [92]:
df = pd.read_csv('data/AAPL.csv')

In [93]:
df['SMA'] = talib.SMA(df['Close'], timeperiod = 50)

In [90]:
df.tail(3)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA
248,2022-10-19,141.690002,144.949997,141.500000,143.860001,143.860001,61758300,155.0484
249,2022-10-20,143.020004,145.889999,142.649994,143.389999,143.389999,64522000,154.5314
250,2022-10-21,142.869995,147.850006,142.649994,147.270004,147.270004,86464700,154.1070